@import url('./bootstrap.min.css');

/* --- Config-css --- */
::-webkit-scrollbar {
  display: none;
}

:root {

  --col-primary: rgb(42 , 39 , 52);

  --col-secondary: rgb(154 , 134 , 253);

  --col-tertiary: rgb(113 , 44 , 249);

  --col-text-primary: rgb(255 , 184 , 112);

  --shadow-box: 9px 4px 4px rgba(0 , 0 , 0 , 0.25);
}

/* --- //Config-css --- */

/* --- Global-css --- */
.btn {
  background-color: var(--col-secondary);
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;
}

.btn:hover {
  background-color: var(--col-tertiary);
}

/* --- //Global-css --- */

/* --- Custom-css --- */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--col-primary);
  color: var(--col-text-primary);
}

html {
  scroll-behavior: smooth;
}

/* header */
#iconLogo {
  font-size: 5rem;
}

/* //header */

/* form */
form {
  max-width: 720px;
}

/* input */
#texto-tarefa {
  background-color: var(--col-secondary);
  box-shadow: var(--shadow-box);
}

/* //form */

/* list */
#container-list {
  max-width: 720px;
}

ol {
  padding-inline-start: 0;
  margin-bottom: 5rem;
}

li {
  background-color: white;
}

.completed {
  text-decoration: line-through solid black;
}

/* //list */

/* --- //Custom-css --- */
